# Terraform variables, used to override or set Terraform variables in
# `variables.tf`.
#
# Make a copy of `terraform.tfvars.example` to `terraform.tfvars`, as Terraform
# variables should not be checked into version control.

domain_name        = "cooking.yingw787.com"
